@charset "UTF-8";

body{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-image: linear-gradient(#00a6f1, #f28201);
}

* {
  cursor: url(https://downloads.totallyfreecursors.com/cursor_files/sailormoon11.cur), url(https://downloads.totallyfreecursors.com/thumbnails/11-13.gif), auto;
}

.game-header{
  text-align: center;
}

.game-container{
  display: flex;
  place-content: center;
  align-content: center;
  justify-content: space-between;
  gap: 1rem
}

#game-canvas{
  height: 90vh;
}

.main-section{
  height: 90vh;
  background: white;
  aspect-ratio: auto 300 / 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-buttons{
  margin: 2rem;
  
}


#end-screen{
  background: black;
  color: white;
}


#end-header{
  margin-bottom: 2rem;
}

.end-score-text{
  color: #f28201;
  font-size: 2rem;
}

.end-score-text>#game-score{
  color: #00a6f1;
}


.menu-header{
  width: 100%;
  text-align: center;
}

.menu-header>img{
  width: 90%;
  margin:auto;
  display: block;
}

.menu-buttons>button{
  padding: 0.5rem;
}
.instruction-box{
  padding: 0.5rem;
  margin: 1rem;
  background: bisque;
  text-align: center;
}


.screen-section{
  height: 90vh;
  flex: 1;
  
  text-align: center;
  font-weight: 600;
  font-size: 25px;

}

#score-table {
  padding: 3% 10% 10%;
  overflow: auto;
  height: 90%;
}
#score-table table{
  width: 100%;

}

#score-table table tr:nth-child(odd) {
  background-color: black;
  color: white;
}

#score-table table tr:nth-child(even) {
  background-color: white;
}