@charset "UTF-8";

.game-header{
  text-align: center;
}

.game-container{
  display: flex;
  place-content: center;
  align-content: center;
  justify-content: space-between;
  gap: 1rem
}

#game-canvas{
  height: 90vh;
}

.screen-section{
  height: 90vh;
  flex: 1;
  
  text-align: center;
  font-weight: 600;
  font-size: 25px;

}

#score-table {
  margin: 10%;
  margin-top: 3%;
}
#score-table table{
width: 100%
}

#score-table table tr:nth-child(odd) {
  background-color: black;
  color: white;
}

#score-table table tr:nth-child(even) {
  background-color: white;
}